﻿body {
    font-family: 'Segoe UI', sans-serif;
    background-color : black;
}

span {
    font-style: italic;
}

#turn{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:white;
	background-image:url('Assets/Images/turnPhone.jpg');
	background-repeat:no-repeat;
	background-position: center center;
    margin:0px;
	display:none;
}

.updating{
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 200px;
	color: white;
}